<!DOCTYPE html>
<HTML lang="en">
{% extends "header.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <!-- allows for the creation of an account that stores to the database -->
    <p><label for="email">Email:</label><br>
        <input type="email" id="email" name="email"/></p>
    <p><label for="username">User Name:</label><br>
        <input type="username" id="username" name="username"/></p>
    <p><label for="password">Password:</label><br>
        <input type="password" id="password" name="password"/></p>
    <p><input type="Submit" value="Create" name="commit" id="CreateLogin" /></p>
</form>
{% endblock %}
</html>
</HTML>